<!DOCTYPE html>
<html>
<head>
<title></title>
<link href="${rc.contextPath}/statics/plugins/jq_cropbox/css/style.css" type="text/css" rel="stylesheet"/>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			#if($shiro.hasPermission("tpointgoods:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("tpointgoods:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("tpointgoods:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">商品名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tPointGoods.goodsName" placeholder="商品名称"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">logo图片</div>
			   	<div class="col-sm-10">
			      <img  id="game_logo_url" src="" style="width: 80px;height: 80px;-moz-border-radius: 15px;-webkit-border-radius: 15px;border-radius:15px;" hidden="hidden"/>
					<div class="container_logo">
						<div class="imageBox">
							<div class="thumbBox"></div>
							<div class="spinner" style="display: none">Loading...</div>
						</div>
						<div class="action"> 
							<!-- <input type="file" id="file" style=" width: 200px">-->
							<div class="new-contentarea tc"> <a href="javascript:void(0)" class="upload-img">
								<label for="upload-file">上传图像</label>
								</a>
								<input type="file" class="" name="upload-file" id="upload-file" />
							</div>
							<input type="button" id="btnCrop"  class="Btnsty_peyton" value="裁切">
							<input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+"  >
							<input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-" >
						</div>
						<div class="cropped"></div>
					</div>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">状态</div>
			   	<div class="col-sm-10">
			      <select class="form-control" v-model="tPointGoods.status" >
					<option value="1">上架</option>
					<option value="0">下架</option>
				  </select>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">兑换积分</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tPointGoods.exchangePoints" placeholder="兑换积分"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">总库存</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tPointGoods.totalNum" placeholder="总库存"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">剩余库存</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tPointGoods.remainNum" placeholder="剩余库存"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">商品说明</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="tPointGoods.remark" placeholder="商品说明信息"/>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript" src="${rc.contextPath}/statics/plugins/jq_cropbox/js/cropbox.js"></script>
<script src="${rc.contextPath}/js/app/tpointgoods.js?_${date.systemTime}"></script>

<script type="text/javascript">

$(window).load(function() {
	var options =
	{
		thumbBox: '.thumbBox',
		spinner: '.spinner',
		imgSrc: '${rc.contextPath}/statics/plugins/jq_cropbox/image/avatar.png'
		
	}
	var cropper = $('.imageBox').cropbox(options);
	$('#upload-file').on('change', function(){
		var reader = new FileReader();
		reader.onload = function(e) {
			options.imgSrc = e.target.result;
			cropper = $('.imageBox').cropbox(options);
		}
		reader.readAsDataURL(this.files[0]);
	})
	$('#btnCrop').on('click', function(){
		var img = cropper.getDataURL();
		$('.cropped').html('');
		$('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:64px;margin-top:4px;border-radius:64px;box-shadow:0px 0px 12px #7E7E7E;" ><p>64px*64px</p>');
		$('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:128px;margin-top:4px;border-radius:128px;box-shadow:0px 0px 12px #7E7E7E;"><p>128px*128px</p>');
		$('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:180px;margin-top:4px;border-radius:180px;box-shadow:0px 0px 12px #7E7E7E;"><p>180px*180px</p>');
	})
	$('#btnZoomIn').on('click', function(){
		cropper.zoomIn();
	})
	$('#btnZoomOut').on('click', function(){
		cropper.zoomOut();
	})
	
});

</script>

</body>
</html>